<div class="container mt-3">

  <div class="main__content">
    <h5>Verify Merchant Payment</h5>
    <p>This is the endpoint responsible for vreifing the payment of a merchant</p>
    <div class="body">
      <strong>Verify payment</strong>
      <p>For you to proceed with the verification , you will need the following request:</p>
      <ul>
        <li>
          Merchant Id
        </li>
        <li>
          Reference
        </li>

      </ul>
      <p>Sample of Request Parameters in the terminal:</p>
      <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
    </div>

    <div class="mt-3">
      <strong>
        Successful Verification process
      </strong>

      <p>
        For a successful verification, <strong>the parameters listed above must be provided before a successful
          verification is completed</strong>.
      </p>
      <div>
        <p>Below shows an example of a successful verification process <strong>Smith Rowe</strong></p>

        <app-section-four [code]="curlOne" [response]="resOne"></app-section-four>
      </div>

      <div>
        <p>If any of the request parameter is not valid</p>

        <app-section-four [code]="curlTwo" [response]="resTwo"></app-section-four>
      </div>

    </div>
  </div>


</div>