
<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Get Payout</h1>
                    
                    <p>This API allows merchant to see their payout amount.
                
                    
                </header>
                <app-section-three [content]="content" [heading]="heading" [response]="responseSucess"
                [responseDetails]="responseDetails1"></app-section-three>
            </div>
    
        </main>
    </div>
   
</div>
    


