<div class="container">
  <div class="section-one">
    <div class="left">
      <select name="code" id="code">

        <option disabled selected>cURL</option>
        <option value="code">Code</option>
        <option value="node">Node</option>
      </select>
    </div>
    <div class="right">
      <h6>Show response</h6>
      <label class="switch">
        <input type="checkbox" [checked]="check" (change)="check = !check">
        <span class="slider"></span>
      </label>
    </div>
  </div>
  <div class="section-two">
    <p>{{code}}</p>
  </div>
  <div class="section-three" *ngIf="check">
    <p>{{response}}</p>
  </div>
</div>