<div class="container mt-3">

  <div class="main__content">

    <h5>Password Mobile Reset</h5>
    <p>This is the endpoint responsible for resetting mobile password</p>

    <div class="body">
      <strong>Reset mobile password</strong>
      <p>For you to proceed with the mobile reset password , you will need this request:</p>
      <ul>
        <li>
          Email
        </li>

      </ul>
      <p>Sample of Request Parameters in the terminal:</p>
      <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
    </div>

    <div class="mt-3">
      <strong>
        Successful Password mobile reset
      </strong>

      <p>
        For a successful mobile password reset, <strong>the parameter above must be provided before a successful
          password mobile reset is completed</strong>.
      </p>
      <div>
        <p>Below shows an example of a successful mobile password reset <strong>Smith Rowe</strong></p>

        <app-section-four [code]="curlOne" [response]="resOne"></app-section-four>
      </div>

      <div class="mt-3">
        <p>If the request parameter is not valid</p>

        <app-section-four [code]="curlTwo" [response]="resTwo"></app-section-four>
      </div>

    </div>
  </div>


</div>