<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>SwipeTech Documentation</h1>
                    <p>Welcome to the SwipeTech Developer Documentation where you’ll learn how to build amazing payment
                        experiences with
                        the SwipeTech API.</p>
                </header>
            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>
