
<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>List of the Banks</h1>
                    
                    <p>This API allows list all the available banks. </p>
                   
                    
                </header>
                <app-section-three [content]="content" [heading]="heading" [response]="response" [responseDetails]="responseDetails"></app-section-three>
            </div>
    
        </main>
    </div>
   
</div>
    


