<div class="container mt-3">
    <div class="main__content">
        <h5> WithdrawFund</h5>
        <p>This API allows merchant to initiate Withdrawal of fund.</p>
        <strong>
            Withdraw of Fund
        </strong>
        <p>You will need to send a POST request to withdrawFund endpoint with the following parameters.</p>

        <p>To initiate the fund withdrwal, merchant need to provide accountname,accountnumber,
            amount,auth,bankcode,bankname
            and mac.</p>

        <app-section-four [code]="code" [response]="response"></app-section-four>
        <div>
            <strong>
                Invalid Parameter(s)
            </strong>
            <p> The result below will show if the result is not successful, this will be as result of an invalid value
                of at
                least one of the parameters.</p>
        </div>
        <app-section-four [code]="code" [response]="response"></app-section-four>


    </div>
</div>