<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>  WithdrawFund</h1>
                    <p>This API allows merchant to initiate Withdrawal of fund.</p>
                </header>

                <h1>
                  Withdraw of Fund
                </h1>
                <p>You will need to send  a POST request to withdrawFund endpoint with the following parameters.</p>

                <p>To initiate the fund withdrwal, merchant need to provide accountname,accountnumber, amount,auth,bankcode,bankname and mac.</p>

                <app-section-three [content]="content" [heading]="heading" [response]="response" [responseDetails]="responseDetails"></app-section-three>
                <div>
                   <h1>
                    Invalid Parameter(s)
                  </h1>
                 <p> The result below will show if the result is not successful, this will be as result of an invalid value of at least one of the parameters.</p>
                </div>
                <app-section-three [content]="content" [heading]="heading" [response]="response" [responseDetails]="responseDetails"></app-section-three>

                <ul></ul>

            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>
