<div class="container mt-3">

    <div class="main__content">

        <h5>Secret Question</h5>
        <p>A secret question is a question/answer combination that only the person who creates it should know. They
            may be used as an added layer of security upon login, but are more commonly used in password retrieval.
        </p>
        <div class="body">
            <strong>Secret Question</strong>

            <p>
                To access the Secret Question click
                <code><a href="https://swipe.ng:7000/swipepay/entrance/onboard">here</a></code>.
            </p>
            <p>
                To be able to access the secret question, the following parameters <strong>must</strong> be supplied to
                the request
            </p>
            <ul>
                <li>
                    Body:
                </li>
                <li>
                    Status code:
                </li>
                <li>
                    Status code value:
                </li>
            </ul>
            <p>To initiate the secret question, you will need to provide your body, status code and status code value.
            </p>

            <app-section-three [content]="One"></app-section-three>
        </div>
        <div class="mt-3">
            <strong>
                Successful secret question
            </strong>

            <p>
                For a successful secret question, <strong>the parameters listed above must be provided and the
                    merchant must be registering
                    for the first time</strong>.
            </p>

            <div>
                <p>Below shows an example of a successful secret question by <strong>Smith Rowe</strong></p>

                <app-section-four [code]="curlOne" [response]="resOne"></app-section-four>
            </div>

            <div>
                <p>If any of the request parameter is not provided, or the id is <b>NOT</b> set to zero, or the merchant
                    has once registered with the same email.</p>
                <p>This case in point the id is not set to zero.</p>
                <app-section-four [code]="curlTwo" [response]="resTwo"></app-section-four>
            </div>
        </div>
    </div>
</div>