
<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Preview Photo</h1>
                    
                    <p>This API allows a merchant to preview all photo uploaded.
                
                    
                </header>
                <!-- <app-section-three [content]="content" [heading]="heading" [response]="response" [responseDetails]="responseDetails"></app-section-three> -->
                
            </div>
    
        </main>
    </div>
   
</div>
    


