<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Password Reset</h1>
                    <p>This is the endpoint responsible for resetting user password.</p>
                </header>

                <div>
                  <p>This endpoint requires the user email, that is the email of the user used when registering.</p>
                  <p>The request payload is shown below:</p>
                  <app-section-three [content] ="contOne" [heading]="headOne"></app-section-three>
                </div>

                <div>
                  <h2>Valid Parameters</h2>
                  <p>For a successful request, the response will be displayed as is below:  </p>
                  <app-section-four [code]="codeOne" [response]="resOne"></app-section-four>
                </div>

                <div>
                  <h2>Invalid Parameter</h2>
                  <p>if the email supplied is not register with Swipe.ng, this is what the response looks like:</p>
                  <app-section-four [code]="codeTwo" [response]="resTwo"></app-section-four>

                </div>
            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>
