<div class="container mt-3">

  <div class="main__content">

    <h5>Password Reset Complete</h5>
    <p>This is the last endpoint responsible for change or resetting password.</p>


    <div>
      <p>This endpoint takes three(3) request parameters</p>
      <ul>
        <li>
          Email
        </li>
        <li>
          New Password
        </li>
        <li>
          Tokens
        </li>
      </ul>
      <p>The JSON representation of the request parameter is shown below.</p>
      <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
    </div>


    <div class="mt-3">
      <strong>Valid Request</strong>
      <p>if the parameters supplied to the endpoint are valid, the response will be as shown below</p>
      <app-section-four [code]="codeOne" [response]="resOne"></app-section-four>
    </div>

    <div class="mt-3">
      <strong>Invalid Parameters(s)</strong>
      <p>if user provide any parameter to be invalid, the response error will be displayed as such</p>
      <app-section-four [code]="codeTwo" [response]="resTwo"></app-section-four>
    </div>
  </div>

</div>