<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Password Reset Complete</h1>
                    <p>This is the last endpoint responsible for change or resetting password.</p>
                </header>

                <div>
                  <p>This endpoint takes three(3) request parameters</p>
                  <ul>
                    <li>
                      Email
                    </li>
                    <li>
                      New Password
                    </li>
                    <li>
                      Tokens
                    </li>
                  </ul>
                  <p>The JSON representation of the  request parameter is shown below.</p>
                  <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
                </div>


                <div>
                  <h2>Valid Request</h2>
                  <p>if the parameters supplied to the endpoint are valid, the response will be as shown below</p>
                  <app-section-four [code]="codeOne" [response]="resOne"></app-section-four>
                </div>

                <div>
                  <h2>Invalid Parameters(s)</h2>
                  <p>if user provide any parameter to be invalid, the response error will be displayed as such</p>
                  <app-section-four [code]="codeTwo" [response]="resTwo"></app-section-four>
                </div>
            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>
