<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Delete Payout</h1>
                    <p>This endpoint allows merchant to delete payout.</p>
                </header>

                <div>
                  <p>This endpoint required accountid and merchantid as parameter.</p>
                  <p>The JSON representation is shown in the terminal below:</p>
                  <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
                </div>

                <div>
                  <p>If the correct merchant ID was supplied, the response will be shown this way</p>
                  <app-section-four [code]="code" [response]="response"></app-section-four>
                </div>

                <div>
                  <p>
                    If the incorrect merchant ID was supplied or the merchant has not yet upload compliance document with Swipe, the response will be shown this way
                  </p>
                  <app-section-four [code]="codeTwo" [response]="resTwo"></app-section-four>
                </div>
            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>

