<div class="container mt-3">
    <div class="main__content">
        <h5>Merchant Reset PIN</h5>
        <p>Merchant resetPinFinal API allows merchant to reset their transaction pin.</p>
        <p>Merchant need to entered registered email, newpin, secretanswer, secretquestion and tokens.</p>
        <app-section-four [code]="code" [response]="response"></app-section-four>
        <div>
            <strong>
                Invalid Parameter(s)
            </strong>
            <p> The result below will show if the result is not successful, this will be as result of an invalid
                value of at least one of the parameters.</p>
        </div>
        <app-section-four [code]="code" [response]="response"></app-section-four>

    </div>
</div>