
<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Merchant Reset PIN </h1>
                   
                    <p>Merchant resetPinFinal API allows merchant to reset their transaction pin.</p>
                    <p>Merchant need to entered registered email, newpin, secretanswer, secretquestion and tokens.</p>
                   
                    
                </header>
                <app-section-three [content]="content" [heading]="heading" [response]="responseSucess"
                    [responseDetails]="responseDetails1"></app-section-three>
                <div>
                    <br>
                    <h1>
                        Invalid Parameter(s)
                    </h1>
                    <p> The result below will show if the result is not successful, this will be as result of an invalid
                        value of at least one of the parameters.</p>
                </div>
                <app-section-three [content]="content1" [heading]="heading" [response]="responseFailed"
                    [responseDetails]="responseDetailsFailed"></app-section-three>

            </div>
    
        </main>
    </div>
   
</div>
    


