
<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Auth Update Pin API</h1>
                   
                    <p>Merchant update PIN API allows merchant to perform PIN Transaction reset functionality in case merchant has forgotten the PIN or for security reasons.</p>
                   
                    
                </header>
                <app-section-three [content]="content" [heading]="heading" [response]="response" [responseDetails]="responseDetails"></app-section-three>
            </div>
    
        </main>
    </div>
   
</div>
    


