<div class="container mt-3">
    <div class="main__content">
        <h5> Merchant Reset Password Final</h5>
        <p>Merchant resetPasswordFinal API allows a merchant to perform a password reset functionality on their own with
            seamless effort. </p>
        <p>You only need to enter your registered email address, newpassword and tokens.</p>

        <app-section-four [code]="code" [response]="response"></app-section-four>
        <div>
            <strong>
                Invalid Parameter(s)
            </strong>
            <p> The result below will show if the result is not successful, this will be as result of an invalid
                value of at least one of the parameters.</p>
        </div>
        <app-section-four [code]="code" [response]="response"></app-section-four>
    </div>