
<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1> Merchant Reset Password Final</h1>
                   
                    <p>Merchant resetPasswordFinal API allows a merchant to perform a password reset functionality on their own with seamless effort. </p>
                        <p>You only need to enter your registered email address, newpassword and tokens.</p>
                   
                    
                </header>
                <app-section-three [content]="content" [heading]="heading" [response]="responseSucess"
                    [responseDetails]="responseDetails1"></app-section-three>
                <div>
                    <br>
                    <h1>
                        Invalid Parameter(s)
                    </h1>
                    <p> The result below will show if the result is not successful, this will be as result of an invalid
                        value of at least one of the parameters.</p>
                </div>
                <app-section-three [content]="content1" [heading]="heading" [response]="responseFailed"
                    [responseDetails]="responseDetailsFailed"></app-section-three>

           
            </div>
    
        </main>
    </div>
   
</div>







<!-- <div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Add Transaction Pin</h1>
                    <p>Add transaction pin API enable merchant to add desired transaction pin of their choice for the completion of various financial transactions from our
                        platform to bank.
                    </p>


                </header>

                <h1>Upload of Utility Bill and Means of Identification</h1>
                <p>Merchant need to entered registered email, name and newpin.</p>

                <app-section-three [content]="content" [heading]="heading" [response]="responseSucess"
                    [responseDetails]="responseDetails1"></app-section-three>
                <div>
                    <br>
                    <h1>
                        Invalid Parameter(s)
                    </h1>
                    <p> The result below will show if the result is not successful, this will be as result of an invalid
                        value of at least one of the parameters.</p>
                </div>
                <app-section-three [content]="content1" [heading]="heading" [response]="responseFailed"
                    [responseDetails]="responseDetailsFailed"></app-section-three>

                <ul></ul>

            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>

    

 -->
