<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Photo API</h1>
                    <h2>Introduction</h2>
                    <p>The Contentful Images API allows the retrieval and manipulation of image files referenced from assets.</p>
                </header>

                <div class="content-body">
                  <app-section-four [response]="resOne" [code] = "contOne"></app-section-four>
                </div>
            </div>


        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>
