<div style="overflow-x: hidden;">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <main class="main">
                <div class="main__content">
                    <header>
                        <h1>Swipe Documentation</h1>
                        <p>Welcome to the Swipe Developer Documentation where you’ll learn how to build amazing
                            payment
                            experiences with
                            the Swipe API.</p>
                    </header>
                    <header>
                        <h1>Quick start</h1>
                    </header>

                    <div class="row" style="margin-top: -20px;">
                        

                        <div class="col-sm-6">
                            <a class="QuickStartCard__Card-sc-1w0gt80-0 ktsUrB">
                                <div class="quick_start_header">
                                    <img src="assets/card (1).png" alt="" style="width: 100%">
                                </div>
                                <div class="quick_start_body">
                                    <h4>Accept Payments</h4>
                                    <p>Collect payments from cards, bank and mobile money accounts</p>
                                </div>
                            </a>
                        </div>



                        


                        <div class="col-sm-6">
                            <a class="QuickStartCard__Card-sc-1w0gt80-0 ktsUrB">
                                <div class="quick_start_header">
                                    <img src="assets/card (2).png" alt="" style="width: 100%">
                                </div>
                                <div class="quick_start_body">
                                    <h4>Send Money</h4>
                                    <p>Make instant transfer to bank accounts and mobile money number</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 mt-3">
                            <a class="QuickStartCard__Card-sc-1w0gt80-0 ktsUrB">
                                <img src="assets/3.png" alt="" style="width: 100%">
                                <div class="quick_start_body">
                                    <h4>Identify your customers</h4>
                                    <p>Verify phone number, bank accounts or Bank verification Number(BVN)</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 mt-3">
                            <a class="QuickStartCard__Card-sc-1w0gt80-0 ktsUrB">
                                <div class="quick_start_header">
                                    <img src="assets/4.png" alt="" style="width: 100%">
                                </div>
                                <div class="quick_start_body">
                                    <h4>Other ways to use Swipe</h4>
                                    <p>Explore plugins, libraries and tools for accepting payments without the API</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
