<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Update Account</h1>
                    <p>
                        Merchant updateAccount API allows merchant to update their Account details.
                    </p>
                </header>

                <h1>
                     Update Mercahnt Account
                </h1>
                <p>You will need to send  a POST request to addBank endpoint with the following parameters</p>


                <ul>
                  <li>Contact Address</li>
                  <li>Contact Mobile</li>
                  <li>Gender</li>
                  <li>LGA</li>
                  <li>Name</li>
                  <li>State of Origin</li>
                </ul>

                <p>THe JSON representation is shown below</p>

                <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
                <h2>Valid Parameters</h2>
                <p>To update account merchant need to enter contactaddress, contactmobile, gender, lga, name and stateorigin.</p>

                <app-section-four [code]="code" [response]="response">

                </app-section-four>
                <div>
                   <h1>
                    Invalid Parameter(s)
                  </h1>
                 <p> The result below will show if the result is not successful, this will be as result of an invalid value of at least one of the parameters.</p>
                </div>
                <app-section-four [code]="code" [response]="response"></app-section-four>

                <ul></ul>

            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>



    


