<div class="container mt-3">
    <div class="main__content">
        <h5>Update Account</h5>

        <p>Merchant updateAccount API allows merchant to update their Account details.</p>
        <p>To update account merchant need to enter contactaddress, contactmobile, gender, lga, name and stateorigin.
        </p>
        <app-section-four [code]="code" [response]="response"></app-section-four>
        <div>
            <strong>
                Invalid Parameter(s)
            </strong>
            <p> The result below will show if the result is not successful, this will be as result of an invalid
                value of at least one of the parameters.</p>
        </div>
        <app-section-four [code]="code" [response]="response"></app-section-four>
    </div>
</div>