
<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Add Compliance</h1>
                    <p>The Compliance API enables merchants to add their BVN, NIN, Proof of address and Means of Identification as requirement to become a Merchant.
                        </p>
                </header>
                <header>
                    <h1>Upload of Utility Bill and Means of Identification</h1>
                    <p>You will need to Upload proof of address and means of Identification as part of the compliance.</p>
                </header>
                <app-section-three [content]="content" [heading]="heading" [response]="response" [responseDetails]="responseDetails"></app-section-three>

            </div>
            <!-- <div class="main__content">
                <header>
                    <h1>Upload of Utility Bill and Means of Identification</h1>
                    <p>You will need to Upload proof of address and means of Identification as part of the compliance.</p>
                </header>
            </div> -->
            <!-- <div class="col-md-3"> -->
                <!-- <main class="main" style="margin-top: auto;"> -->
                    <div class="main__content">
                    </div>
                <!-- </main> -->
            <!-- </div> -->

        </main>
    </div>

</div>
