<div class="container mt-3">
    <div class="main__content">
        <h5>Add Compliance</h5>
        <p>The Compliance API enables merchants to add their BVN, NIN, Proof of address and Means of
            Identification as requirement to become a Merchant.</p>

        <strong>Upload of Utility Bill and Means of Identification</strong>
        <p>You will need to Upload proof of address and means of Identification as part of the compliance.</p>

        <app-section-four [code]="code" [response]="response">

        </app-section-four>
        <div class="mt-3">
            <strong>
                Invalid Parameter(s)
            </strong>
            <p> The result below will show if the result is not successful, this will be as result of an invalid value
                of at
                least one of the parameters.</p>
        </div>
        <app-section-four [code]="code" [response]="response"></app-section-four>

    </div>
</div>