<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Entrance Endpoints Documentation</h1>
                    <p>This is the set of endpoints that is responsible for the user access and authentication processes.</p>
                </header>

                <div>
                  <p> The list of the endpoints are listed below.</p>

                  <ul>
                    <li>Authentication Update (Password)</li>
                    <li>Authentication Update (PIN)</li>
                    <li>Merchant Photo</li>
                    <li>Sign Up</li>
                    <li>Login Reset</li>
                    <li>Password Reset</li>
                    <li>Payment Processing</li>
                    <li>Verify Payment Transaction</li>
                    <li>Fetch Charges</li>
                    <li>Fetch Transaction Proration</li>
                    <li>Payment Initiation</li>
                    <li>Payment Installment Plan</li>
                    <li>Payment Link</li>
                    <li>Resend OTP</li>
                    <li>Retrieve Transaction</li>
                    <li>Payment Verification</li>
                    <li>Verify Payment OTP</li>
                    <li>Photo Preview</li>
                    <li>Secret Question</li>
                    <li>Sign In</li>
                    <li>Validating CAC</li>
                  </ul>


                </div>

                <div>
                  <p>Each of these endpoints has been explained in details in each of the sections </p>
                  <p>Instruction: </p>
                  <ul>
                    <ol>
                      Each of the requests has a response that display when the <strong>Show Response Checkbox</strong> is clicked. The default display the request cURL for each endpoint for both successful request and a failed one.
                        The terminal is the display of the request parameter(s) for each endpoints
                    </ol>
                  </ul>
                </div>
            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>
