<div class="container mt-3">
    <div class="main__content">

        <h5>Verifying Transaction Pin</h5>

        <p>This API allows merchant to verifying transaction Pin.</p>


        <app-section-four [code]="code" [response]="response"></app-section-four>
        <div>
            <strong>
                Invalid Parameter(s)
            </strong>
            <p> The result below will show if the result is not successful, this will be as result of an invalid
                value of at least one of the parameters.</p>
        </div>
        <app-section-four [code]="code" [response]="response"></app-section-four>

    </div>
</div>