<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Payment Verify</h1>
                    <p>This is the endpoint  responsible for verifing transaction</p>
                </header>
                <div class="body">
                    <h2>Verify transaction</h2>
                    <p>For you to proceed with the verification of transaction , you will need the following request:</p>
                    <ul>
                        <li>
                          Otp
                        </li>

                        <li>
                            Reference number
                          </li>
                       
                      </ul>
                      <p>Sample of  Request Parameters in the terminal:</p>
                      <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
                </div>

                <div>
                    <h2>
                      Successful Verification of payment
                    </h2>
  
                    <p>
                      For a successful verification payment, <strong>the parameter  above must be provided before a successful verification payment is completed</strong>.
                    </p>
                    <div>
                      <p>Below shows an example of a successful verification payment <strong>Smith Rowe</strong></p>
  
                    <app-section-four [code]="curlOne" [response]="resOne"></app-section-four>
                    </div>
  
                    <div>
                      <p>If the request parameter above is not valid</p>
                     
                      <app-section-four [code]="curlTwo" [response] = "resTwo" ></app-section-four>
                    </div>
  
                  </div>
            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>

