.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  margin-top: 8px;
  overflow: auto;
  background-color: rgb(15, 15, 16);
  height: 200px;
}

.terminal::before {
  // content: "\00BB \00BB";
  position: sticky;
  display: block;
  z-index: 10;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: rgb(48, 228, 32);
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 10px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
  user-select: none;
  counter-increment: section;
  // content: "counter(section)";
}
.section-three {
  box-shadow: rgb(0 0 0 / 3%) 0px 1px 1px;
  counter-reset: section;
  border: 1px solid rgb(238, 242, 245);
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.section-one {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
