<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Reset Final Password</h1>
                    <p>This page is where you finally reset your password, using these parameters below.</p>
                </header>

                <h1>
                  Resetting password
                </h1>
                <p>You will need to send  a POST request to resetPasswordFinals endpoint with the following parameters</p>

                <p>To initiate the reset password, you will need to provide your email, new password, and your token</p>

                <app-section-four [code]="code" [response]="response">

                </app-section-four>

                <ul></ul>

            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>
