<div class="container mt-3">
  <div class="main__content">

    <h5>Reset Final Password</h5>
    <p>This page is where you finally reset your password, using the parameters below.</p>

    <strong>
      Resetting password
    </strong>
    <p>You will need to send a POST request to resetPasswordFinals endpoint with the following parameters</p>


    <ul>
      <li>Email</li>
      <li>Your new password </li>
      <li>Token</li>
    </ul>

    <p>THe JSON representation is shown below</p>

    <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
    <div class="mt-3">
      <strong>Valid Parameters</strong>
    </div>
    <p>To initiate the reset password, you will need to provide your email, new password, and your token</p>

    <app-section-four [code]="code" [response]="response">

    </app-section-four>
    <div>
      <strong>
        Invalid Parameter(s)
      </strong>
      <p> The result below will show if the result is not successful, this will be as result of an invalid value of at
        least one of the parameters.</p>
    </div>
    <app-section-four [code]="code" [response]="response"></app-section-four>

    <ul></ul>

  </div>
</div>