<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Reset Final Password</h1>
                    <p>This page is where you finally reset your password, using the parameters below.</p>
                </header>

                <h1>
                  Resetting password
                </h1>
                <p>You will need to send  a POST request to resetPasswordFinals endpoint with the following parameters</p>


                <ul>
                  <li>Email</li>
                  <li>Your new password </li>
                  <li>Token</li>
                </ul>

                <p>To initiate the reset password, you will need to provide your email, new password, and your token</p>

                <app-section-four [code]="code" [response]="response">

                </app-section-four>
                <div>
                   <h1>
                    Invalid Parameter(s)
                  </h1>
                 <p> The result below will show if the result is not successful, this will be as result of an invalid value of at least one of the parameters.</p>
                </div>
                <app-section-four [code]="code" [response]="response"></app-section-four>

                <ul></ul>

            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>
