<div class="container">
    <div class="section-one">
      <div class="left">
        <select name="code" id="code">
  
          <option disabled selected>cURL</option>
          <option value="code">Code</option>
          <option value="node">Node</option>
        </select>
      </div>
      <div class="right">
        <h6>Show response</h6>
        <label class="switch">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
      </div>
    </div>
    <div class="section-two">
      <pre>
        An applet is a dynamic and interactive program that can run inside a Web page displayed
          by a Java-capable browser such as HotJava or Netscape 2.0.
          
      </pre>
    </div>
  
    <div class="section-three">
      <pre>
  <p>An applet is a dynamic and interactive program that can run inside a Web page displayed
    by a Java-capable browser such as HotJava or Netscape 2.0.
    
  
  </p>
      </pre>
    </div>
  </div>