<div class="container mt-3">

    <div class="main__content">
        <h5>Add Transaction Pin</h5>
        <p>Add transaction pin API enable merchant to add desired transaction pin of their choice for the completion
            of various financial transactions from our
            platform to bank.
        </p>

        <strong>Upload of Utility Bill and Means of Identification</strong>
        <p>Merchant need to entered registered email, name and newpin.</p>

        <app-section-four [code]="code" [response]="response"></app-section-four>
        <div>
            <strong>
                Invalid Parameter(s)
            </strong>
            <p> The result below will show if the result is not successful, this will be as result of an invalid
                value of at least one of the parameters.</p>
        </div>
        <app-section-four [code]="code" [response]="response"></app-section-four>
    </div>

</div>