
<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1> Add Transaction PIN</h1>
                   
                    <p>Transaction pin is required to be entered to complete various financial transactions from our platform to your bank.
                        The core purpose of a personal identification number (PIN) is to provide an additional layer of security to the electronic transaction process</p>
                   
                    
                </header>
                <app-section-three [content]="content" [heading]="heading" [response]="response" [responseDetails]="responseDetails"></app-section-three>
            </div>
    
        </main>
    </div>
   
</div>
    


