<div class="container mt-3">
    <div class="main__content">
        <h5>Resetting Transaction Pin</h5>

        <p>This API allows merchant to Reset their transaction Pin.</p>
        <p>This API allows merchant to enter their secretquestion, secretanswer and transaction pin.</p>

        <app-section-four [code]="code" [response]="response"></app-section-four>
        <div>
            <strong>
                Invalid Parameter(s)
            </strong>
            <p> The result below will show if the result is not successful, this will be as result of an invalid
                value of at least one of the parameters.</p>
        </div>
        <app-section-four [code]="code" [response]="response"></app-section-four>

    </div>
</div>