<div class="container mt-3">

    <div class="main__content">
        <h5>Add Payout</h5>
        <p>Add Payout API allows Merchant to add their respective bank account details.</p>
        <p>Merchant will need to provide their bank account name, bank account number and bank name. </p>
        <app-section-four [code]="code" [response]="response"></app-section-four>
        <div>
            <strong>
                Invalid Parameter(s)
            </strong>
            <p> The result below result show unsuccessful, this will be as result of an invalid value of at least one of
                the parameters.</p>
        </div>
        <app-section-four [code]="code" [response]="response"></app-section-four>
    </div>
</div>