<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Add Payout</h1>
                    <p>
                        Add Payout API allows Merchant to add their respective bank account details.
                    </p>
                </header>

                <h1>
                    AddPayout
                </h1>
                <p>You will need to send  a POST request to AddPayout endpoint with the following parameters</p>

               
                <ul>
                  <li>Account Name</li>
                  <li>Account Number</li>
                  <li>Bank Name</li>

                </ul>
                
                <p>THe JSON representation is shown below</p>

                <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
                <h2>Valid Parameters</h2>
                <p>To initiate addCompliance, you will need to Upload proof of address and means of Identification as part of the compliance.</p>
               
                <app-section-four [code]="code" [response]="response">

                </app-section-four>
                <div>
                   <h1>
                    Invalid Parameter(s)
                  </h1>
                 <p> The result below will show if the result is not successful, this will be as result of an invalid value of at least one of the parameters.</p>
                </div>
                <app-section-four [code]="code" [response]="response"></app-section-four>

                <ul></ul>

            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>




<!-- <div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Add Payout</h1>
                   
                    <p>Add Payout API allows Merchant to add their respective bank account details.</p>
                    <p>Merchant will need to provide their bank account name, bank account number and bank name. </p>

                </header>
                <h1>
                    Add Payout
                  </h1>
                  <p>You will need to send  a POST request to resetPasswordFinals endpoint with the following parameters</p>
  
  
                  <ul>
                    <li>Email</li>
                    <li>Your new password </li>
                    <li>Token</li>
                  </ul>
  
                  <p>THe JSON representation is shown below</p>
                  <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
                <app-section-four [code]="code" [response]="response"></app-section-four>
                <div>
                    <br>
                   <h1>
                    Invalid Parameter(s)
                  </h1>
                 <p> The result below result show unsuccessful, this will be as result of an invalid value of at least one of the parameters.</p>
                </div>
                <app-section-four [code]="code" [response]="response"></app-section-four>

                <ul></ul>

            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div> -->
