<div class="container mt-3">
    <div class="main__content">

        <h5>Dashboard Data</h5>

        <p>This API displays all transactions made so far by a merchant.


            <app-section-three [content]="content" [heading]="heading" [response]="responseSucess"
                [responseDetails]="responseDetails1"></app-section-three>
        <div>
            <strong>
                Invalid Parameter(s)
            </strong>
            <p> The result below will show if the result is not successful, this will be as result of an invalid
                value of at least one of the parameters.</p>
        </div>
        <app-section-three [content]="content1" [heading]="heading" [response]="responseFailed"
            [responseDetails]="responseDetailsFailed"></app-section-three>
    </div>
</div>