<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1> verify Bvn</h1>
                    <p>
                        This API allows merchant to verify their BVN.
                    </p>
                </header>

                <h1>
                    Bvn Verification
                </h1>
                <p>You will need to send a POST request to verifyBvn endpoint with the following parameters</p>


                <ul>
                  <li>Accountid</li>
                  <li>accountnumber</li>
                  <li>bankcode</li>
                  <li>bankname</li>
                  <li>bvn</li>
                </ul>

                <p>THe JSON representation is shown below</p>

                <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
                <h2>Valid Parameters</h2>
                <p>To verifyBvn, you will need to provide your accountid, accountnumber, bankcode, bankname and bvn.</p>

                <app-section-four [code]="code" [response]="response"></app-section-four>
                <div>
                   <h1>
                    Invalid Parameter(s)
                  </h1>
                 <p> The result below will show if the result is not successful, this will be as result of an invalid value of at least one of the parameters.</p>
                </div>
                <app-section-four [code]="codeTwo" [response]="resTwo"></app-section-four>

                <ul></ul>

            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>




<!-- <div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Veryfy BVN </h1>
                   
                    <p>This API allows merchant to Veryfy their BVN. </p>
                    <p>To make use of this API Merchant need to enter their accountnumber, bankcode, bankname and bvn.</p>

                   
                    
                </header>
                <app-section-four [code]="code" [response]="response"></app-section-four>
            <div>
                <br>
                <h1>
                    Invalid Parameter(s)
                </h1>
                <p> The result below will show if the result is not successful, this will be as result of an invalid
                    value of at least one of the parameters.</p>
            </div>
            <app-section-four [code]="code" [response]="response"></app-section-four>         
             </div>
    
        </main>
    </div>
   
</div> -->
    


