:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 260px;
    background-color: #fff;
    box-shadow: 2px;
}

mat-drawer-container {
    height: 100%;
    background-color: #fafafa;
}
