<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Send OTP</h1>
                    <p>This is the endpoint  responsible for sending OTP</p>
                </header>
                <div class="body">
                    <h2>Sending of  OTP</h2>
                    <p>For you to proceed with the sending of OTP , you will need this request:</p>
                    <ul>
                        <li>
                          Reference number
                        </li>
                       
                      </ul>
                      <p>Sample of  Request Parameters in the terminal:</p>
                      <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
                </div>

                <div>
                    <h2>
                      Successful Sent OTP
                    </h2>
  
                    <p>
                      For a successful sent OTP, <strong>the parameter  above must be provided before a successful otp message is completed</strong>.
                    </p>
                    <div>
                      <p>Below shows an example of a successful sent otp <strong>Smith Rowe</strong></p>
  
                    <app-section-four [code]="curlOne" [response]="resOne"></app-section-four>
                    </div>
  
                    <div>
                      <p>If the request parameter is not valid</p>
                     
                      <app-section-four [code]="curlTwo" [response] = "resTwo" ></app-section-four>
                    </div>
  
                  </div>
            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>

