<div class="container mt-3">

  <div class="main__content">

    <h5>Sign In</h5>
    <p>This endpoint describes the description about the usage and consumption of this endpoint</p>


    <div>
      <p>The sign in page request parameters has the following:</p>
      <ul>
        <li>Login Location : This denotes the location the user is </li>
        <li>Password : the current password the user </li>
        <li>Recent : This set value for this is "FINAL_K"</li>
        <li>Username : the username of the account.</li>
      </ul>

      <p>
        The JSON Representation is shown below
      </p>

      <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
    </div>
  </div>

</div>