@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.section {
  background-color: #e9f7ff;
  color: #791b33;
  width: 100%;
  height: auto;
  margin: 20px auto; 
  border-radius: 5px;
  padding: 20px;
  font-family: "Lato", sans-serif;
}
.header {
  color: #011b33;
  display: flex;
  margin-top: -20px;
  justify-content: start;
  align-items: center;
}
p {
  font-size: 13px;
  margin-left: 5px;
  margin-top: -15px;
}

fa-icon {
  margin-right: 10px;
}

h4 {
  margin-left: 5px;
  font-weight: 600;
  margin-top: 23px;
  font-size: 17px;
  color: #000;
}



.bod {
  margin: 30px;
}