header {
    margin-bottom: 50px;
  }
  
  //   header {
  
  //   }
  
  header h1 {
    margin-top: -8px;
  }
  
  .main {
    height: 100%;
    display: grid;
    min-height: 100%;
    grid-template-rows: 2fr 1fr;
    padding: 30px 30px 30px 15px;
  }s
  
  h1 {
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 10px;
    font-weight: bold;
  }
  
  header p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.03px;
    margin: 20px 0 0;
  }
  

  h5 {
    font-size: 20px;
    line-height: 1.2;
    margin: 0 0 10px;
    font-weight: bold;
  }