<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Change Transaction Pin</h1>
                    <p>
                       Mercahnt need changeTransactionPin API to change their transaction pin earlier supplied.
                    </p>
                </header>

                <h1>
                     Changing Transaction Pin of Mercahnt 
                </h1>
                <p>You will need to send  a POST request to changeTransactionPin endpoint with the following parameters</p>


                <ul>
                  <li>accountid</li>
                  <li>newpin</li>
                  <li>secretanswer</li>
                </ul>

                <p>THe JSON representation is shown below</p>

                <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
                <h2>Valid Parameters</h2>
                <p>
                    To change transaction pin merchant need to enter newpin and secretanswer.</p>

                <app-section-four [code]="code" [response]="response">

                </app-section-four>
                <div>
                   <h1>
                    Invalid Parameter(s)
                  </h1>
                 <p> The result below will show if the result is not successful, this will be as result of an invalid value of at least one of the parameters.</p>
                </div>
                <app-section-four [code]="code" [response]="response"></app-section-four>

                <ul></ul>

            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>