<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Add Bank</h1>
                    <p>
                        This API allows merchant to add their respective bank.
                    </p>
                </header>

                <h1>
                    Add Bank
                </h1>
                <p>You will need to send  a POST request to addBank endpoint with the following parameters</p>


                <ul>
                  <li>Account Number</li>
                  <li>Bank Code </li>
                  <li>Bank Name</li>
                </ul>

                <p>THe JSON representation is shown below</p>

                <app-section-three [content]="contOne" [heading]="headOne"></app-section-three>
                <h2>Valid Parameters</h2>
                <p>To add bank, you will need to provide your accountnumber, bankcode and bankname.</p>

                <app-section-four [code]="code" [response]="response">

                </app-section-four>
                <div>
                   <h1>
                    Invalid Parameter(s)
                  </h1>
                 <p> The result below will show if the result is not successful, this will be as result of an invalid value of at least one of the parameters.</p>
                </div>
                <app-section-four [code]="code" [response]="response"></app-section-four>

                <ul></ul>

            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>


    


