<div class="container mt-3">

  <div class="main__content">
    <h5>Update Authentication Pin</h5>
    <p>This endpoint allows merchant update their authentication pin</p>

    <p>
      This endpoint merchants who has register before reset their authentication pin by providing the following
      information:</p>

    <p>The following information will be provided by the merchant</p>
    <ul>
      <li>Email</li>
      <li>New Pin</li>
      <li>Secret Answer</li>
      <li>Secret Question</li>
      <li>Tokens</li>
    </ul>

    <h4>Method: <span>POST</span></h4>

    <p>URL: <span>http://</span></p>

    <strong>Header</strong>
    <ul>
      <li>Content-Type: application/json</li>
    </ul>

    <p>Body: <span>JSON object with the fields</span></p>
    <ul>
      <li>email (required):</li>
      <li>New Pin (required):</li>
      <li>Secret Answer (required):</li>
      <li>Secret Question (required):</li>
      <li>Tokens (required):</li>

    </ul>

    <p>Return Status:</p>
    <ul>
      <li>200 : Successful response</li>
      <li>403 : </li>
      <li>404 : </li>
    </ul>
  </div>


</div>