<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Update Authentication Pin</h1>
                    <p>This endpoint allows merchant to update their authentication pin</p>

                    <p>
                      This endpoint enables registered merchant to update their authentication pin by providing the following information:</p>
                   </header>
                   <div class="body">
                    <h2>Update PIN</h2>
                   
                    <p>The information below <strong>must</strong> be provided by the merchant so as to enable authentication <strong>pin</strong> update</p>
                    <ul>
                     <li>Email</li>
                     <li>New Pin</li>
                     <li>Secret Answer</li>
                     <li>Secret Question</li>
                     <li>Tokens</li>
                   </ul> 
  
                      <p>Sample of the Request Body in the terminal:</p>
  
                      <app-section-three [content]="cont" [heading]="head"></app-section-three>
                  </div>
                  <div>
                   
                    <div>
                      <p>Below shows an example of a success PIN update by <strong>Kunle Balogun</strong></p>
  
                    <app-section-four [code]="curlSuccess" [response]="responseSuccess"></app-section-four>
                    </div>
  
                    <div>
                      <p>If any of the request parameter is <strong>Not</strong>provide or incorrect,the response below will possible be seen.</p>
                      
                      <app-section-four [code]="curlError" [response] = "responseError" ></app-section-four>
                    </div>
  
                  </div>

                 

            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>
