
<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>List Merchant Bank</h1>
                   
                    <p>This API allows merchant to add their respective bank. </p>
                   
                    
                </header>
                <app-section-four [code]="code" [response]="response"></app-section-four>
            </div>
    
        </main>
    </div>
   
</div>
    


