<div class="container mt-3">
    <h5>
        List merchant by email
    </h5>
    <p>This endpoint provide us the merchant email and id to test if the merchant exists or not</p>
    <p>Parameters needed for testing are:</p>
    <app-section-three [content]="One"></app-section-three>
    <div class="mt-3">
        <p>You get a successful response if the right parameters are filled correctly</p>
        <app-section-four [code]="codeOne" [response]="responseOne"></app-section-four>
    </div>
</div>