<div class="row">
    <div class="col-md-9 col-sm-12">
        <main class="main">
            <div class="main__content">
                <header>
                    <h1>Payment installment</h1>
                    <p>Payment plan, give customers the opportunity to buy a product or service even if they can’t afford it upfront.</p>
                </header>
                <div class="body">
                    <h2>Payment plan</h2>

                    <p>
                        To access the payment plan click
                        <code><a href="https://swipe.ng:7000/swipepay/entrance/onboard">here</a></code>.
                    </p>
                    <p>
                        To be able to access the payment plan, the following parameters <strong>must</strong> be supplied to the request
                    </p>
                    <ul>
                        <li>
                            Ref: References Number
                        </li>
                        <li>
                            Selected Installment: the types of installment you want.
                        </li>
                    </ul>
                    <p>To initiate the payment plan, you will need to provide your ref, selected installment:</p>

                    <app-section-three [content]="One"></app-section-three>
                </div>

                <div>
                    <h2>
                        Successful payment plan
                    </h2>

                    <p>
                        For a successful payment plan, <strong>the parameters listed above must be provided and the
                            merchant must be registering
                            for the first time</strong>.
                    </p>

                    <div>
                        <p>Below shows an example of a successful payment plan by <strong>Smith Rowe</strong></p>

                        <app-section-four [code]="curlOne" [response]="resOne"></app-section-four>
                    </div>

                    <div>
                        <p>If any of the request parameter is not provided, or the id is <b>NOT</b> set to zero, or the merchant has once registered with the same email.</p>
                        <p>This case in point the id is not set to zero.</p>
                        <app-section-four [code]="curlTwo" [response]="resTwo"></app-section-four>
                    </div>
                </div>


            </div>
        </main>
    </div>
    <div class="col-md-3">

    </div>
</div>